@tailwind base;
@tailwind components;
@tailwind utilities;

html body :root {
    height: 100%;
}

@layer base {
    :root {
        --background: 252 56% 98%;
        --foreground: 252 61% 0%;
        --muted: 222 22% 87%;
        --muted-foreground: 222 12% 30%;
        --popover: 252 56% 98%;
        --popover-foreground: 252 61% 0%;
        --card: 252 56% 98%;
        --card-foreground: 252 61% 0%;
        --border: 252 2% 91%;
        --input: 252 2% 91%;
        --primary: 252 79% 36%;
        --primary-foreground: 252 79% 96%;
        --secondary: 222 79% 36%;
        --secondary-foreground: 222 79% 96%;
        --accent: 282 79% 36%;
        --accent-foreground: 282 79% 96%;
        --destructive: 20 85% 24%;
        --destructive-foreground: 20 85% 84%;
        --ring: 252 79% 36%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 252 51% 1%;
        --foreground: 252 26% 98%;
        --muted: 222 22% 13%;
        --muted-foreground: 222 12% 70%;
        --popover: 252 51% 1%;
        --popover-foreground: 252 26% 98%;
        --card: 252 51% 1%;
        --card-foreground: 252 26% 98%;
        --border: 252 2% 10%;
        --input: 252 2% 10%;
        --primary: 252 79% 36%;
        --primary-foreground: 252 79% 96%;
        --secondary: 222 79% 36%;
        --secondary-foreground: 222 79% 96%;
        --accent: 282 79% 36%;
        --accent-foreground: 282 79% 96%;
        --destructive: 20 85% 47%;
        --destructive-foreground: 0 0% 100%;
        --ring: 252 79% 36%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
